/* a:focus {
    outline: 0;
} */

.spartan {
    font-family: "League Spartan", sans-serif;
}

/* @media(min-width:768px){
    #contact-container {
        bottom: -10% !important;
        position: absolute;
        min-height: 46.25vw;
        text-align: center;
        bottom: -16%;
        left: 50%;
        font-size: 2vh;
        transform: translate(-50%,-50%);
        top:101%;
    }
} */
/* @media(min-width:450px) and (max-width:768px){
    #contact-container{
        bottom: -13% !important;
    }
} */

.section-title {
    padding: 2rem 0;
    font-size: 2rem;
    line-height: 1rem;
    color:white;
}

@media(min-width:768px){
    .section-title {
        padding: 2rem 0;
        font-size: 3rem;
        line-height: 5rem;
        color: white;
    }
}

/* #contact-container {
    position: absolute;
    min-height: 46.25vw;
    text-align: center;
    bottom: -16%;
    top: 98%;
    left: 50%;
    font-size: 2vh;
    transform: translate(-50%,-50%);
}

.contact-content {
    display: inline-flex;
    flex-direction: column;
    margin: auto;
    max-width: 300px;
    text-align: center;
    padding: 1rem 0;
}

.contact-item {
    display: flex;
}

.contact-item-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.contact-ext-links {
    padding-top: 2rem;
    padding-bottom: 2rem;

}

.copyright-container {
    text-align: center;
} */




#contact-container {
    position: relative;
    margin: 10%;
    text-align: center;
}

.contact-content {
    display: inline-flex;
    flex-direction: column;
    margin: auto;
    /* max-width: 300px; */
    text-align: center;
    padding:0;
}

.contact-item {
    display: flex;
}

.contact-ext-links {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.copyright-container {
    text-align: center;
}

