.wrapper {
	position: relative;
	max-width: 840px;
	width: 70%;
	padding: 0 50px;
	/* margin: 0 auto; */
}



 .nav-arrows {
	display: none;
}

.nav-arrows a {
	width: 42px;
	height: 42px;
	/* background: #cbbfae url(../images/nav.png) no-repeat top left; */
	position: absolute;
	top: 50%;
	left: 2px;
	/* text-indent: -9000px; */
	cursor: pointer;
	margin-top: -21px;
	opacity: 0.9;
	border-radius: 50%;
	/* box-shadow: 0 1px 1px rgba(255,255,255,0.8);  */
}
.imgs{
	width: 70%;
	height: 70%;
}

.nav-arrows a:first-child{
	left: auto;
	right: 2px;
	background-position: top right;
}


.nav-arrows a:hover {
	opacity: 1;
} 
@media(max-width:450px)
{
	.wrapper{
		padding: 0;
	}
	.nav-arrows a {
		left: -35px;
	}
	.nav-arrows a:first-child{
		right: -50px;
	}
}

